@import url('https://fonts.googleapis.com/css2?family=Nokora&display=swap');
.title {
    font-family: 'Nokora', sans-serif;
    font-weight: 400;
    font-size: 32px;
}
.slider-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}
.slider-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slide {
    flex: 0 0 25%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}
.slide img {
    width: 100%;
    height: auto;
}
h3 {
    margin-top: 10px;
    font-size: 16px;
    color: #ffffffd1;
    position: absolute;
    top: 50%;
    left: 30%;
}
.slider-prev, .slider-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(252, 248, 248, 50%);
    color: #0b0b0b;
    border: none;
    cursor: pointer;
    padding: 8px 18px;
    font-size: 20px;
    border-radius: 50%;
    z-index: 10;
}
.slider-prev { left: 10px; }
.slider-next { right: 10px; }
.slider-prev:hover, .slider-next:hover {
    background: rgba(252, 248, 248, 0.8);
}
.slider-dots {
    text-align: center;
    margin-top: 10px;
}
.dot {
    display: inline-block;
    width: 3px;
    height: 3px;
    background: #8A8A8A;
    border-radius: 50%;
    margin: 24px;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.dot.active {
    background: #997F5A;
}
.dot.active::before {
    content: "";
    position: absolute;
    top: -14px;
    left: -14px;
    width: 32px;
    height: 32px;
    border: 2px solid #997F5A;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 1199px) {
    .slide {
        flex: 0 0 33.33%;
    }
}
@media (max-width: 767px) {
    .slide {
        flex: 0 0 50%;
    }
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
h2 {
    margin-bottom:  17px;
}
#modal-title {
    font-family: 'Nokora', sans-serif;
    font-weight: 700;
    font-size: 24px;
}
.modal-content {
    position: relative;
    background: #fff;
    font-family: 'Nokora', sans-serif;
    width: 881px;
    height: 346px;
    padding: 48px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}
#modal-description {
    margin-top: 17px;
}
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}
.close:hover {
    color: red;
}

@media (max-width: 1024px) {
    .modal-content {
        width: 90%;
        height: auto;
        max-width: 600px;
        padding: 15px;
    }
    .close {
        top: 5px;
        right: 10px;
        font-size: 20px;
    }
}
@media (max-width: 600px) {
    .modal-content {
        width: 95%;
        max-width: 450px;
    }
    .close {
        font-size: 18px;
    }
}
